header{
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.174);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    height: 16px;
}

.btn-openmenu{
    height: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    cursor: pointer;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--color-blue);
    width: 120px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 120px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.empresas{
    width: 100vw;
    margin: 0 auto;
    background-color: var(--color-white200);
    display: flex;
    flex-direction: column;
}

.seletor{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/Arrow\ 2.png)  no-repeat var(--color-blue);
    background-position: 230px center;
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-blue);
    color: var(--color-white);
    padding: 10px;
    outline-color: var(--color-blue);
}

#select option{
    font-size: 18px;
    font-weight: 400;
}

.list-empresas{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    overflow-x: auto;
}

.empresa{
    background-color: var(--color-white);
    width: 100%;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.empresa h3{
    font-family: "inter";
    font-weight: 700;
    font-size: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info p{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.info span{
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 81px;
    height: 19px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 32px;
    padding: 0px 22px 0px 22px;
}

.hidden{
    display: none;
}