header{
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.174);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    height: 16px;
}

.btn-openmenu{
    height: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    cursor: pointer;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--color-blue);
    width: 120px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 120px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.section-login{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../img/bg-mobile.png);
    display: flex;
    align-items: center;
}

.container-login{
    width: 100%;
    background-color: var(--color-white-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.container-login h2{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
}

.container-login p{
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input{
    padding: 5px;
    height: 44px;
    border: 1px solid var(--color-white200);
    border-radius: 2px;
    outline-color: var(--color-blue);
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button{
    height: 44px;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.buttons span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--color-blue);
    height: 44px;
}

.hidden{
    display: none;
}

@media(min-width:700px){
    header{
        display: flex;
        justify-content: space-between;
    }

    .header{
        width: 40%;
        margin: 0 auto;
    }

    .descktop-menu{
        display: none;
    }

    .menu-descktop{
        width: 40%;
        display: flex;
    }

    .section-login{
        background: url(../img/bg-descktop.png);
        display: flex;
        justify-content: center;
    }

    .container-login{
        width: 40%;
    }
}